body {
  background-color: #edeef0;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Roboto, OpenSans, Helvetica Neue, sans-serif;
  line-height: 1.154;
  font-weight: 400;
}

body.noScroll {
  overflow: hidden;
}

div#cadabra {
  height: 100vh;
  overflow:hidden; overflow-y:scroll;
}

div.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin 30px 10px 10px;
  justify-content: center;
}

ul.sorting_tabs {
  list-style: none;
  cursor: pointer;
}

li.sorting_tab {
  display: inline;
  margin: 10px;
  padding-bottom: 13px;
}

li.sorting_tab.active {
  margin: auto;
  color: #000;
  border-bottom: 2px solid #6387ac;
}

li.sorting_tab:not(.active) {
  color: #656565;
}

li.sorting_tab:not(.active):hover {
  border-bottom: 2px solid #cad2db;
}

div.list_container {
  position: relative;
  margin: 15px auto;
  max-width: 700px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  overflow: scroll;
}

ul.product_list {
  display: inline-block;
  list-style: none;
}

li.list_item {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 10px;
}

div.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

div.product_text {
  display: flex;
  flex-direction: column;
}

div.product_controls {
  display: flex;
  flex-direction: row;
}

img.product_image {
  display: block;
  max-width: 300px%;
  max-height: 300px%;
  margin-left: auto;
  margin-right: auto;
}

.name {
  margin: 10px;
}

button.add_product {
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%2391A8C4%22%20d%3D%22M8%206v-6h-2v6h-6v2h6v6h2v-6h6v-2h-6z%22%2F%3E%3C%2Fsvg%3E')
    top no-repeat;
  display: block;
  outline: 0;
  cursor: pointer;
  border: 0;
  opacity: .8;
}

button.destroy {
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%2391A8C4%22%20d%3D%22M8%206v-6h-2v6h-6v2h6v6h2v-6h6v-2h-6z%22%2F%3E%3C%2Fsvg%3E')
    top no-repeat;
  display: block;
  outline: 0;
  cursor: pointer;
  border: 0;
  opacity: .8;
  transform: rotate(45deg);
}

button.add_product:hover {
  opacity: 1;
}

button.destroy:hover {
  opacity: 1;
}

div.button-container {
  width: 14px;
  height: 14px;
  padding: 18px 15px 16px 10px;
}

div.destroy-button-container {
  float: right;
}

button.edit-button {
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%2391A8C4%22%20d%3D%22M8%206v-6h-2v6h-6v2h6v6h2v-6h6v-2h-6z%22%2F%3E%3C%2Fsvg%3E')
    top no-repeat;
  display: block;
  outline: 0;
  cursor: pointer;
  border: 0;
  opacity: .8;
}

div.dialog-overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

div.dialog-content {
  display: table-cell;
  position: fixed;
  z-index: 9999;
  margin: 20% 30%;
  vertical-align: middle;
}

div.dialog-body {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 10px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

div.dialog-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
}

div.dialog-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button.dialog-button {
  background-color: #5e81a8;
  color: #fff;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 7px 16px 8px;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 12.5px;
  vertical-align: top;
}

div.dialog-row {
  padding-bottom: 15px;
}

div.dialog-label {
  color: #656565;
  width: 170px;
  padding: 6px 10px 0 0;
  line-height: 16px;
  float: left;
  text-align: right;
}

div.dialog-labeled {
  float: left;
  line-height: 16px;
  width: 50%;
}

input.dialog-input {
  width: 100%;
}

textarea.dialog-text-area {
  height: 100px;
  overflow: hidden;
  resize: none;
  width: 100%;
}

button.dialog-button:hover {
  background-color: #6888ad;
}

label.product-name {
  font-weight: 500;
  font-size: 16px;
  margin: 10px;
}

label.product-price {
  font-weight: 500;
  margin: 15px;
}

label.product-description {
  font-weight: 400;
  margin: 10px;
  margin-top: 20px;
}
