body {
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
    height: 60%;
}

body.noScroll {
  overflow: hidden;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    /*font-size: 100px;*/
    text-align: left;
    font-weight: 200;
    margin-bottom: 0;
    margin-left: 10px;
}

#description {
  text-align: left;
  margin-left: 10px;
}

#cadabra {
  display: flex;
  justify-content: center;
  height: 100vh;
}

li.list_item {
  text-align: left;
  min-height: 65px;
  margin-top: 20px;
  background: azure;
}

.item-name {
  background: indigo;
  color: white;
}

.item-name.editing {
  display: block;
}

.hiden {
  display: none;
}

input.edit {
  font-size: 18px;
  width: 500px;
}
